.footer{
    background-color: $darkBlue;
    text-align: center;

    &__grid{
        padding-top: 1.25rem;
        padding-bottom: 0.1rem;
        @include breakpoint-up(medium){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
        }
          
    }

    &__images{
       
        @include breakpoint-up(medium){
            flex: 1; 
            padding-top: 0;
            padding-bottom: 0;
        } 
    }

    &__top-image{
        padding-top: 0;
        padding-bottom: 1.875rem;
    }

    &__bottom-images{
    
    }

    &__logo{
       
    }

    &__links{
        a{
            color: $white;
        }
        font-size: 1rem;
        p{
            line-height: 1;
        }
    }

    &__links_1{
        @include breakpoint-up(medium){
            flex: 1;
        }
    }

    &__links_2{
        @include breakpoint-up(medium){
            flex: 1;
        }
    }

    &__request{
        padding-top: 1.5rem;
        @include breakpoint-up(medium){
            flex: 2;
            text-align: right;
            width: 40vw;
        }
    }
}
